<!DOCTYPE html>
<html lang="en" ng-app="portfolio">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="public/css/agency.min.css" rel="stylesheet">
    <link href='public/css/devicons.css' rel='stylesheet'>
    <link rel="shortcut icon" href="public/img/favicon.ico" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/5.3.2/sweetalert2.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-controller="mainCtrl">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Paul Murff</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Paul Murff</div>
                <div class="intro-lead-in">Full-Stack Web Developer</div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Recent Projects and Developments</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="portfolio-img" src="public/img/toyota.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Toyota.com Clone</h4>
                        <p class="text-muted">Build and Price Shop Experience</p>
                        <a class="btn btn-primary btn-sm" href="https://github.com/murffious/Toyota.com-Clone" role="button">GITHUB</a>
                        <!-- <a class="btn btn-primary btn-sm" href="#" role="button">SITE</a> -->
                        <a class="btn btn-primary btn-sm" href="#" role="button">VIDEO TOUR</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="portfolio-img" src="public/img/Charmi3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Charmi</h4>
                        <p class="text-muted">Mobile (web) Dating App</p>
                        <a class="btn btn-primary btn-sm" href="https://github.com/Team-Overkill/Charmi-React" target="_blank" role="button">GITHUB</a>
                        <a class="btn btn-primary btn-sm" href="https://youtu.be/ZnkR-ij2TzU" target="_blank" role="button">VIDEO TOUR</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="portfolio-img" src="public/img/nasa.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Exploring "Space Travel"</h4>
                        <p class="text-muted">Some Fun with the NASA API</p>
                        <a class="btn btn-primary btn-sm" href="#" role="button">GITHUB</a>
                        <a class="btn btn-primary btn-sm" href="#" role="button">SITE</a>
                        <a class="btn btn-primary btn-sm" href="#" role="button">VIDEO TOUR</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="portfolio-img" src="public/img/rgb3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>RGB Color Picker Game </h4>
                        <p class="text-muted">Master your RGB Skills with this JS based Game</p>
                        <a class="btn btn-primary btn-sm" href="https://github.com/murffious/ColorPickerUdemy" target="_blank" role="button">GITHUB</a>
                        <!-- <a class="btn btn-primary btn-sm" href="#" role="button">SITE</a> -->
                        <a class="btn btn-primary btn-sm" href="https://murffious.github.io/ColorPickerUdemy/" target="_blank" role="button">SITE</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="portfolio-img" src="public/img/charmiscreen.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Charmi2 ReactNative </h4>
                        <p class="text-muted">Native Dating App for IOS/Anrdroid with Touch</p>
                        <a class="btn btn-primary btn-sm" href="https://github.com/murffious/Charmi" target="_blank" role="button">GITHUB</a>
                        <!-- <a class="btn btn-primary btn-sm" href="#" role="button">SITE</a> -->
                        <a class="btn btn-primary btn-sm" href="#" target="_blank" role="button">SITE</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item"  >
                    <a href="#portfolioModal5" class="portfolio-link" >
                        <div class="card text-center" style="border: 1px solid white">
                            <div class="card-header">
                                In Development w/ReactJS
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Coming very soon!</h4>
                                <p class="card-text"> </p>
                                
                            </div>
                            <div class="card-footer text-muted">
                                to be published AUG 2017
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Murff Gathering Site</h4>
                        <p class="text-muted">An interactive gathering place for reunions et all</p>
                        <a class="btn btn-primary btn-sm" href="#" target="_blank" role="button">GITHUB</a>
                        <!-- <a class="btn btn-primary btn-sm" href="#" role="button">SITE</a> -->
                        <a class="btn btn-primary btn-sm" href="#" target="_blank" role="button">SITE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Skills Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-14 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">My current skill set</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-html5"></span>
                        <p class="text-muted">HTML5</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-css3"></span>
                        <p class="text-muted">CSS3</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-heroku"></span>
                        <p class="text-muted">Heroku</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-javascript_badge"></span>
                        <p class="text-muted">JavaScript</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-angular"></span>
                        <p class="text-muted">Angular</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-react"></span>
                        <p class="text-muted">React/React Native</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-nodejs"></span>
                        <p class="text-muted">Node JS</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-terminal"></span>
                        <p class="text-muted">Express</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-postgresql"></span>
                        <p class="text-muted">PostgresSQL/SQL</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-jquery"></span>
                        <p class="text-muted">jQuery</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-git"></span>
                        <p class="text-muted">Git</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <i class="devicons devicons-atlassian"></i>
                        <p class="text-muted">Collaboration Tools</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-gulp"></span>
                        <p class="text-muted">Build Tools</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <span class="devicons devicons-sass"></span>
                        <p class="text-muted">CSS Pre-Processors</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <i class="devicons devicons-responsive"></i>
                        <p class="text-muted">Responsive Design</p>
                    </div>
                </div>
                <div class="col-sm-3 addition">
                    <div class="team-member">
                        <span class="devicons devicons-bootstrap"></span>
                        <p>Bootstrap</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Little About Me</h2>
                    <h3 class="section-subheading text-muted">Keep Scrolling To Avoid Shameless Self-Advertising</h3>
                </div>
            </div>
            <div class="row center-img">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="public/img/me.jpg" class="img-responsive img-circle" alt="profile">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted">I was born and raised in the great state of Utah. I have a diverse professional background including
                            teaching, sales, insurance and have rich volunteer experience. I have fallen in love with web
                            development and have made it not just a passion, but a career. To stay sharp on my CSS and other
                            skills I clone sites. I love reverse engineering things or creating my own effects. I also strive
                            for a very high level of excellence and innovation. Please feel free to drop me a line with any
                            questions, tips, or opportunities!</p>
                    </div>
                </div>
                <div class="resume">
                    <p>Click <a href="professional_resume.pdf">this</a> link to check out my professional resume or follow one
                        of the below links:</p>
                </div>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="copyright"></span>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-inline social-buttons">
                                    <li><a href="https://github.com/murffious" target="_blank"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li><a href="https://www.facebook.com/paul.murff.7" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href=" https://www.linkedin.com/in/paul-murff/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="copyright"></span>
                            </div>
                        </div>
                    </div>
                </footer>

                <!-- <div class="social" width="200px"> 
                    <a><i class="fa fa-linkedin-square"  style="font-size: 50px; margin-right: 30px" aria-hidden="true"></i></a>
                    <a><i class="fa fa-facebook-square" style="font-size: 50px" aria-hidden="true"></i></a>
                    <a><i class="fa fa-github" style="font-size: 50px; margin-left: 30px" aria-hidden="true"></i></a></div>
               
            </div> -->
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get In Touch @ murff.paul@gmail.com OR below</h2>
                    <h3 class="section-subheading text-muted">Feel Free To Reach Out With Any Questions Or Opportunities!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name."
                                        ng-model="contact.name">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address."
                                        ng-model="contact.email">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number."
                                        ng-model="contact.number">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."
                                        ng-model="contact.message"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" ng-click="email(contact)">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; paulmurff.com 2017</span>
                </div>
                <div class="col-md-4">
                    <!-- <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/murffious"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/paul.murff.7"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href=" https://www.linkedin.com/in/paul-murff/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-4">
                    <span class="copyright">Thank You For Visiting My Page</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Toyota.com Clone</h2>
                                <p class="item-intro text-muted">A clone of the "build and price" experience on Toyota's offical site.</p>
                                <img class="img-responsive img-centered" src="public/img/toyotatacomabuild.png" alt="">
                                <p>I developed this site based off the purpose to get a customer to actually have an experience
                                    similar to going to a dealership and picking out a car to drive. The end goal is for
                                    a person to buy the car at a dealership by emailing their info and "build" to a dealer.
                                    </p>
                                <p>
                                    You can explore the site <a href="http://www.paulmurff.com">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: May 2017</li>
                                    <li>Category: SEAN Stack (SQL, ExpressJS, AngularJS, NodeJS)</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Charmi</h2>
                                <p class="item-intro text-muted">A mobile-web based dating application modeled after apps like Tinder or Mutual.</p>
                                <img class="img-responsive img-centered" src="public/img/Charmi1.png" alt="">
                                <p>Charmi is desgined with mobile use in mind. This partiucular styling was designed for an
                                    iPhone 6 Plus specifically in mind. Users can login with Auth0 (Gmail, Facebook etc.)
                                    and search profiles. Users can like or pass on profiles and then messages those they
                                    match with.</p>
                                <p>You can preview Charmi <a href="">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: June/July 2017</li>
                                    <li>Tech: React, Redux, Axios, jQuery, Socket.io, Node, SQL</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Space Travel Explorer</h2>
                                <p class="item-intro text-muted">A fun site using the NASA API</p>
                                <img class="img-responsive img-centered" src="img/portfolio/whirlwind2.png" alt="">
                                <p></p>
                                <p>You can checkout the application <a href="#">here</a>.
                                    Be sure to load the scripts due to googles tightened restrictions on data served over
                                    http.
                                </p>
                                <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li>Category: AngularJS Web Application</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>RGB Color Picker Game</h2>
                                <p class="item-intro text-muted">A fun game testing your ability to choose RGB colors based on their numbers.</p>
                                <img class="img-responsive img-centered" src="public/img/rgb2.png" alt="">
                                <p></p>
                                <p>You can checkout the application <a href="https://murffious.github.io/ColorPickerUdemy/"
                                        target="_blank">here</a>.
                                </p>
                                <ul class="list-inline">
                                    <li>Date: May 2017</li>
                                    <li>Category: Vanilla JS-DOM and CSS</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Charmi2 Native Android/IOS Dating App</h2>
                                <p class="item-intro text-muted">Remake of Charmi web app for native</p>
                                <img class="img-responsive img-centered" src="public/img/app.jpg" alt="">
                                <p></p>
                                <p>You can checkout the application soon on Expo<a href="#"
                                        target="_blank">here</a>.
                                </p>
                                <ul class="list-inline">
                                    <li>Date: July/Aug 2017</li>
                                    <li>Category: React Native, React, Redux, SQL, Node, sockets.io and more to come.</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/5.3.2/sweetalert2.min.js" charset="utf-8"></script>

    <!-- Angular Setup -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="public/app/app.js"></script>
    <script src="public/app/mainCtrl.js"></script>
    <script src="public/app/mainSrvc.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="public/js/agency.min.js"></script>

</body>

</html>

</body>

</html>